<section class='section'>
  <h1 class='title is-size-1 has-text-centered mt-5'>
   Public Recipes
  </h1>
  <div class='container public_recipes_container'>
      <div class='card'>
        <div class='card-content'>
          <div class='media'>
            <div class='media-content public_recipe_details'>
              <h2 class='subtitle is-3'>
                <span>Simple Dishes</span> 
                <span class='subtitle is-5'>By: David</span>
              </h2>
              <p class='subtitle is-5'>
                <span>Total food items: 4</span>
                <span>Total price: $203</span>
              </p>
            </div>
          </div>
        </div>
      </div>
       <div class='card'>
        <div class='card-content'>
          <div class='media'>
            <div class='media-content public_recipe_details'>
              <h2 class='subtitle is-3'>
                <span>High Roller</span> 
                <span class='subtitle is-5'>By: Sofi</span>
              </h2>
              <p class='subtitle is-5'>
                <span>Total food items: 12</span>
                <span>Total price: $456</span>
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

